version: '3.8'

services:
  web:
    build: 
      context: . 
      dockerfile: Dockerfile
    image: carrillo_docker_tp:v0.1
    container_name: flask-web-counter
    ports:
      - "5000:5000"
    restart: always
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  redis:
    image: "redis:7-alpine"
    container_name: redis-counter-db
    restart: always
    volumes:
      - redis-data:/data

volumes:
  redis-data: